@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Calle 3D<br />
    Colombia<br />
    <abbr title="CellPhone">P:</abbr>
    3144438877
</address>

<address>
    <strong>Main Mail:</strong>   <a href="mailto:jhbelalc@gmail.com">jhbelalc@gmail.com</a><br />
    <strong>Secondary:</strong>  <a href="mailto:jhbelalc@yahoo.com">jhbelalc@yahoo.com</a><br />
</address>